<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  .nav-link.active {
    color: rgb(39, 39, 146); /* yellow-400 */
    font-weight: 700;
    border-bottom: 2px solid #ebe71b;
    padding-bottom: 4px;
  }
</style>

</head>
<body>
  <header class="bg-white shadow-md sticky w-full top-0 left-0 z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

    <!-- Logo -->
    <a href="index.html" class="flex items-center gap-3">

  <!-- LOGO -->
  <img src="images/logo.png"
       alt="School Logo"
       class="h-14 w-14 object-contain">

  <!-- TEXT -->
  <div class="leading-tight">
    <h1 class="text-lg md:text-xl font-bold text-blue-900">
      ST. XAVIERS
    </h1>
    <p class="text-xs md:text-sm font-bold text-yellow-500 tracking-wide">
      HIGH SCHOOL
    </p>
  </div>

</a>

    <!-- Desktop Menu -->
    <nav class="hidden md:flex gap-10 text-lg font-medium">

      <!-- Menu Item -->
      <div class="relative group">
        <a href="index.html" class="nav-link hover:text-blue-900`transition">Home</a>
      </div>

      <div class="relative group">
        <a href="about.html" class="nav-link hover:text-blue-900` transition">About</a>
        <div class="absolute left-0 mt-2 bg-white shadow-lg rounded-md p-3 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition w-48">
          <a href="about.html#vision" class="block py-2 px-2 hover:bg-gray-200 rounded">Vision</a>
          <a href="about.html#mission" class="block py-2 px-2 hover:bg-gray-200 rounded">Mission</a>
          <a href="about.html#principal" class="blockpy-2 px-2 hover:bg-gray-200 rounded">Principal Message</a>
        </div>
      </div>

      <a href="admission.html" class="nav-link hover:text-blue-900` transition">Admission</a>
      <a href="academic.html" class="nav-link hover:text-blue-900` transition">Academic</a>
      <a href="facility.html" class="nav-link hover:text-blue-900` transition">Facility</a>
      <a href="mandatory-disclosure.html" class="nav-link hover:text-blue-900` transition">Mandatory Disclosure</a>
      <a href="gallery.html" class="nav-link hover:text-blue-900` transition">Gallery</a>
      <a href="contact.html" class="nav-link hover:text-blue-900` transition">Contact</a>

    </nav>

    <!-- Mobile Button -->
    <button onclick="openMenu()" class="md:hidden text-2xl">
      ☰
    </button>
  </div>

  <!-- Mobile Menu -->
  <div id="mobileMenu" class="fixed top-0 right-0 h-full w-64 bg-gray-200 p-6 transform translate-x-full transition duration-300 z-50">
    <div class="text-right text-3xl cursor-pointer mb-6" onclick="closeMenu()">×</div>
    <nav class="flex flex-col gap-6 text-lg font-medium">
      <a href="index.html" onclick="closeMenu()">Home</a>
      <a href="about.html" onclick="closeMenu()">About</a>
      <a href="admission.html" onclick="closeMenu()">Admission</a>
      <a href="academic.html" onclick="closeMenu()">Academic</a>
      <a href="facility.html" onclick="closeMenu()">Facility</a>
      <a href="mandatory-disclosure.html" onclick="closeMenu()">Mandatory Disclosure</a>
      <a href="gallery.html" onclick="closeMenu()">Gallery</a>
      <a href="contact.html" onclick="closeMenu()">Contact</a>
    </nav>
  </div>

  <!-- Overlay -->
  <div id="overlay" class="fixed inset-0 bg-black/40 hidden" onclick="closeMenu()"></div>
</header>

</body>
</html>